.adblock-popup {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.9);

    &__content {
        $popup-width: 32rem;
        @include card-effect;
    
        display: none;
        position: absolute;
        top: 33vh;
        left: calc(50vw - $popup-width / 2);
        z-index: 4;
        width: $popup-width;
        height: auto;
        padding: 1.5rem;
        text-align: center;
        border: 0.13rem solid $primary-accent-color;
        box-shadow: $input-shadow;
    }
    .text-subtitle {
        margin-top: 0.66rem;
        text-indent: 0;
        font-size: 1.15rem;
    }
    .btn {
        margin: 1rem auto 0;
        padding: 0.33rem 2rem;
    }
}

.adblock-popup._show, .adblock-popup__content._show {
    display: block;
}