.about-info {
    .inner {
        display: flex;
    }
    &__img {
        @include card-effect;
        margin-left: $grid-gap;
        padding: 1.5rem 1.25rem;
        border-width: 2px;
        border-color: $primary-accent-color;
        img {
            aspect-ratio: 2 / 1;
        }
    }
    &__content {
        .descr:first-of-type {
            margin-top: 1rem;
        }
    }

    // * 1024

    @include bp(lg) {
    }

    // * 768

    @include bp(md) {
    }

    // * 420

    @include bp(sm) {
    }
}
