.book-page {
    .container {
        display: flex;
        justify-content: space-between;
        @include bp(md) {
            flex-direction: column-reverse;
        }
    }
    .book-nav {
        width: clamp((map-get($container-max-widths, xxl) / 12) * 4, 33%, map-get($container-max-widths, xs));
        @include bp(md) {
            width: clamp(map-get($container-max-widths, xs), 100%, map-get($container-max-widths, md));
        }

        summary.aside-link {
            margin-bottom: 0.75rem;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 2.25rem;

            &:hover {
                color: initial;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .book-content {
        margin-left: $grid-gap;

        // * Adaptive width
        width: clamp(
            (map-get($container-max-widths, xxl) / 12) * 8 - $grid-gap,
            66%,
            map-get($container-max-widths, xs)
        );
        @include bp(md) {
            margin-left: 0;
            margin-bottom: $grid-gap * 2;
            width: clamp(map-get($container-max-widths, xs), 100%, map-get($container-max-widths, md));
        }
        &__subtitle {
            @include hover {
                color: $dark-color;
                text-decoration: none;
            }
            @include bp(md) {
                font-size: 1.25rem;
            }
        }
        &__footer {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            form:not(:first-of-type) {
                margin-left: $grid-gap;
            }

            @include bp(xl) {
                flex-direction: column;
                align-items: center;

                form:not(:first-of-type) {
                    margin-left: 0;
                    margin-top: $grid-gap;
                }
                // .btn:not(:first-of-type) {
                //     margin-left: 0;
                //     margin-top: $grid-gap;
                // }
            }
        }
    }
}
