.book-page {
    .container {
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include bp(md) {
            flex-direction: column-reverse;
        }
    }
    .aside-nav {
        flex-shrink: 0;
        width: clamp(map-get($container-max-widths, xs), 33%, (map-get($container-max-widths, xxl) / 12) * 4);
        @include bp(xl) {
            width: clamp(map-get($container-max-widths, xs), 33%, (map-get($container-max-widths, xl) / 12) * 4);
        }
        @include bp(lg) {
            width: clamp(map-get($container-max-widths, xs), 33%, (map-get($container-max-widths, lg) / 12) * 4);
        }
        @include bp(md) {
            width: clamp(map-get($container-max-widths, xs), 100%, map-get($container-max-widths, md));
        }
        &__inner {
            // * FIXED NAV
            // width: inherit;
            // position: fixed;
            // top: 9.5rem; 
            padding: 0rem 0.75rem;
            background-color: $text-light-color;
            @include bp(md) {
                position: static;
                padding: 0;
            }
        }
        &__pinned .link {
            color: $dark-color;
            text-decoration: underline;
            @include hover {
                color: $secondary-accent-color;
            }
        }
        // * FIXED NAV
        // &__body {
            // max-height: 300px;
            // overflow-y: scroll;
            // @include bp(xl) {
            //     max-height: 420px;
            // }
            // @include bp(lg) {
            //     max-height: 500px;
            // }
            // @include bp(md) {
            //     max-height: initial;
            //     overflow-y: visible;
            // }
        // }

        .aside-link--big {
            margin-bottom: 0.75rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2.25rem;
        }
        & > .aside-link--big {
            color: $dark-color;
            &:hover {
                color: $secondary-accent-color;
            }
        }
    }

    // * BOOK CONTENT
    .book-content {
        margin-left: $grid-gap;

        // * Adaptive width
        width: clamp(
            (map-get($container-max-widths, xxl) / 12) * 8 - $grid-gap,
            66%,
            map-get($container-max-widths, xs)
        );
        .inner {
            width: auto;
            height: auto;
            max-height: 600px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        @include bp(md) {
            margin-left: 0;
            margin-bottom: $grid-gap * 1.5;
            width: clamp(map-get($container-max-widths, xs), 100%, map-get($container-max-widths, md));
        }
        &__subtitle {
            @include hover {
                color: $dark-color;
                text-decoration: none;
            }
            @include bp(md) {
                font-size: 1.25rem;
            }
        }
        &__footer-inner {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            li:not(:first-of-type) {
                margin-left: 1.5rem;
                @include bp(lg) {
                    margin-left: 1rem;
                }
                @include bp(xs) {
                    margin-left: 0rem;
                }
            }

            // * BOOK PARTS NAVIGATION
            .link {
                display: inline-block;
                &.previous-part::before,
                &.next-part::after {
                    display: inline-block;
                }
                &.previous-part::before {
                    content: '\25B2';
                    margin-right: 0.5rem;
                    transform: rotate(-90deg);
                }
                &.next-part::after {
                    content: '\25B2';
                    margin-left: 0.5rem;
                    transform: rotate(90deg);
                }
                &:nth-of-type(-n + 5) {
                    margin-top: 0.75rem;
                }
            }
        }
    }
}
