.catalog-filters {
    .inner {
        display: flex;
        align-items: flex-start;

        // * FILTER HEADER
        @include bp(sm) {
            flex-direction: column-reverse;
            align-items: stretch;
            .btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;
                &__icons {
                    width: auto;
                }
            }
        }
        .filter {
            position: relative;
            .icon-plus {
                display: none;
                transform: rotate(45deg);
            }
        }
        .filter[open] .filter__btn .btn {
            box-shadow: $btn-inset-shadow;
            .icon-filter {
                display: none;
            }
            .icon-plus {
                display: block;
            }
        }
        .summary::after {
            content: '';
            display: none;
        }
        .btn--little:hover {
            .btn__icons {
                transform: none;
            }
        }
        .filter__body {
            z-index: 2;
            margin-top: 1.25rem;
            display: flex;
            flex-wrap: nowrap;
        }
        .search-form {
            display: flex;
            margin-left: 2rem;
            @include bp(md) {
                margin-left: 1rem;
            }
            @include bp(sm) {
                margin-left: 0rem;
                flex-direction: column;
            }
            .inp {
                width: calc(map-get($container-max-widths, xxl) / 12) * 8.55;
                @include bp(xl) {
                    width: calc(map-get($container-max-widths, xl) / 12) * 7.9;
                }
                @include bp(lg) {
                    width: calc(map-get($container-max-widths, lg) / 12) * 7.28;
                }
                @include bp(md) {
                    width: calc(map-get($container-max-widths, md) / 12) * 6.05;
                }
                @include bp(sm) {
                    width: 100%;
                }
            }
            .btn {
                margin-left: 1rem;
                @include bp(md) {
                    margin-left: 0.66rem;
                }
                @include bp(sm) {
                    margin-left: 0rem;
                    margin-top: 1rem;
                }
            }
        }

        // * FILTER BODY

        .filter__body {
            $body-padding-x: 1.25rem;
            $body-padding-y: 1rem;

            @include card-effect;
            position: absolute;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            width: map-get($container-max-widths, xxl);
            padding: $body-padding-x $body-padding-y;
            gap: 1rem 2rem;

            @include bp(xl) {
                width: map-get($container-max-widths, xl);
                gap: 1rem 1.5rem;
            }
            @include bp(lg) {
                width: map-get($container-max-widths, lg);
            }
            @include bp(md) {
                width: map-get($container-max-widths, md);
            }
            @include bp(sm) {
                width: calc(map-get($container-max-widths, sm) - $grid-gap / 2);
            }
            @include bp(xs) {
                width: calc(map-get($container-max-widths, xs) - $grid-gap / 2);
            }

            .filter__body-item {
                // * ADD OR REMOVE MARGIN FOR FILTERS GROUPS IF GAP NOT SUPPORTED
                // $margin-desktop-x: 2rem;
                // $margin-mobile-x: 1.5rem;
                // $margin-y: 1rem;

                // &:not(:first-of-type, :last-of-type) {
                //     margin-left: $margin-desktop-x;
                //     @include bp(lg) {
                //         margin-left: $margin-mobile-x;
                //     }
                // }
            }

            // * TAGBOX

            .tag-container {
                margin: 0;
            }
            .tagbox {
                padding: 0.5rem 0 1rem;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                border-bottom: 0.0625rem solid $light-gray-color;
            }
            .tagbox-added {
                padding-top: 1.25rem;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                @include bp(md) {
                    padding-top: 0;
                    flex-direction: column-reverse;
                }
                &__inner {
                    margin-left: 1.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    @include bp(md) {
                        margin-left: 0;
                        margin-top: 1.33rem;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
            .tagbox-added .btn {
                @include bp(md) {
                    margin-top: 1.75rem;
                }
            }

            //  * FORM CONTROLLERS
            .text-subtitle {
                text-indent: 0;
                font-size: 1.125rem;
                font-weight: 500;
            }
            .form-conroller {
                &:first-of-type {
                    margin-top: 0.66rem;
                }
                small {
                    display: none;
                }
                &._error {
                    small {
                        display: block;
                    }
                }
            }
            .checkbox-group {
                column-count: 3;
                & > .checkbox:not(:first-of-type) {
                    margin-top: 0.5rem;
                }
            }
            .radio:not(:first-of-type) {
                margin-top: 0.5rem;
            }
            .select {
                min-width: 15rem;
                &:not(:first-of-type) {
                    margin-top: 1rem;
                }
                @include bp(xs) {
                    width: calc(map-get($container-max-widths, xs) - 2.5rem);
                }
            }
        }
    }
}

// * CATALOG CARDS

.catalog-cards {
    &:nth-of-type(n) {
        margin-top: 200px;
    }
    .inner {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        gap: $grid-gap;
    }
}
