.news {
    .inner {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        grid-auto-flow: row dense;
        grid-gap: $grid-gap;
        align-items: start;
        justify-items: center;

        @include bp(md) {
            grid-template: 1fr / 1fr;
        }
    }
}
