.title-page {
    .inner {
        margin-top: 0;
        display: flex;
        justify-content: space-between;

        @include bp(md) {
            flex-direction: column;
        }
        picture,
        .title-page__img {
            // * Adapptive layout
            width: clamp(
                (map-get($container-max-widths, xxl) / 12) * 4 - $grid-gap,
                33%,
                map-get($container-max-widths, xs)
            );
            @include bp(xl) {
                max-width: calc(map-get($container-max-widths, xl) / 12) * 4 - $grid-gap;
            }
            @include bp(lg) {
                max-width: calc(map-get($container-max-widths, lg) / 12) * 4 - $grid-gap;
            }
            @include bp(md) {
                margin: 0 auto;
                width: clamp(map-get($container-max-widths, xs), 100%, map-get($container-max-widths, md));
            }
        }
    }
    &__img {
        border: 0.1875rem solid $light-gray-color;
    }
    &__content {
        @include card-effect;
        width: clamp((map-get($container-max-widths, xxl) / 12) * 8, 66%, map-get($container-max-widths, xs));
        padding: 1rem;
        border: 0.1875rem solid $light-gray-color;

        @include bp(xl) {
            max-width: calc(map-get($container-max-widths, xl) / 12) * 8;
        }
        @include bp(lg) {
            max-width: calc(map-get($container-max-widths, lg) / 12) * 8;
        }
        @include bp(md) {
            margin-top: $grid-gap;
            max-width: 100%;
            .h4 {
                text-align: justify;
            }
        }
    }
    &__article {
        margin-top: 1rem;
        display: flex;
        text-align: justify;

        @include bp(xl) {
            flex-direction: column;
        }
        &-info,
        &-descr {
            width: 50%;
            @include bp(xl) {
                width: 100%;
            }
        }
        &-info {
            padding-left: $grid-gap;
            @include bp(xl) {
                padding-left: 0;
            }
        }
        // * SELECTOR SPECIFITY
        .truncate:nth-of-type(n) {
            margin-top: 0rem;
            span {
                font-weight: 600;
            }
        }
    }
}

.book-nav {
    .details:not(:first-of-type) {
        margin-top: 1rem;
    }
    &__list {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        grid-auto-flow: row dense;
        @include bp(xl) {
            grid-template: 1fr / repeat(3, 1fr);
        }
        @include bp(lg) {
            grid-template: 1fr / repeat(2, 1fr);
        }
        @include bp(sm) {
            grid-template: 1fr / 1fr;
        }
    }
    &-item {
        border-right: 0.0625rem solid $light-gray-color;
        padding: 1rem 1rem 0rem 1rem;
        &:nth-of-type(4n + 1),
        &:first-of-type {
            padding-left: 0;
        }
        &:nth-of-type(4n) {
            border-right: none;
            padding-right: 0;
        }
        @include bp(xl) {
            &:nth-of-type(3n) {
                border-right: none;
            }
            &:nth-of-type(4n) {
                border-right: 0.0625rem solid $light-gray-color;
                padding: 1rem 1rem 0rem 1rem;
            }
            &:nth-of-type(12n) {
                border-right: none;
            }
            &:nth-of-type(4n + 1),
            &:first-of-type {
                padding: 1rem 1rem 0rem 1rem;
            }
            &:nth-of-type(3n + 1),
            &:first-of-type {
                padding-left: 0;
            }
        }
        @include bp(lg) {
            &:nth-of-type(2n) {
                border-right: none;
                padding: 1rem 0rem 0rem 1rem;
            }
            &:nth-of-type(2n + 1) {
                padding: 1rem 1rem 0rem 0rem;
            }
            &:nth-of-type(3n) {
                border-right: 0.0625rem solid $light-gray-color;
            }
            &:nth-of-type(6n) {
                border-right: none;
            }
        }
        @include bp(sm) {
            &:nth-of-type(2n) {
                border-right: none;
                padding: 1rem 0rem 0rem 0rem;
            }
            &:nth-of-type(2n + 1) {
                padding: 1rem 0rem 0rem 0rem;
            }
            &:nth-of-type(3n) {
                border-right: none;
            }
            padding: 1rem 0 0 0;
            border-right: 0;
        }
    }
    .loadmore {
        margin-top: 1rem;
    }
}

.book-nav-item {
    display: flex;
    flex-direction: column;
    text-align: justify;
    .aside-link {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    &__date {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        color: $dark-gray-color;
    }
}

.title-page-item {
    text-indent: 0;
    margin-top: 0.33rem;
    span {
        font-weight: 600;
    }
}

.title-page__tags {
    .title-page-item {
        margin-top: 0.4rem;
    }
}
