.update-item {
    @include card-effect;
    padding: 1.33rem;

    .update-item__content {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .update-item__img {
        width: 16rem;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }
    .text-subtitle {
        text-indent: 1.5rem;
    }
    & > .btn {
        margin: 1.5rem auto 0;
        width: 70%;
    }
    .update-item-log {
        margin-top: 0.5rem;
    }
}

.update-item-log {
    span {
        font-weight: 600;
    }
}