.update-item {
    @include card-effect;
    padding: 1.33rem;

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        text-align: justify;
        @include bp(sm) {
            margin-top: 0;
        }
    }
    &__img {
        width: 16rem;
        aspect-ratio: 3 / 4;
        @include bp(sm) {
            display: none;
        }
    }
    .text-subtitle {
        text-indent: 1.5rem;
    }
    & .btn {
        margin: 1.5rem auto 0;
        width: 70%;
    }
    .update-item-log {
        margin-top: 0.5rem;
    }
}

.update-item-log {
    span {
        font-weight: 600;
    }
}
