.vacancy-card {
    @include card-effect;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    &__subtitle {
        font-size: 1.125rem;
        font-weight: 500;
    }
    &__content {
        padding: 0.75rem 0 1.5rem;
    }
    .loadmore {
        display: inline-block;
        margin-top: 0.75rem;
    }
}