// * <UI CLASSES>==========================================

.section {
    @include bp(lg) {
    }
}

.section-page {
    @include bp(lg) {
    }
}

.h1 {
    font-family: 'Traditional', 'Garamond', 'Georgia', serif;
    font-size: 3.625rem;
    line-height: 5rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.h2 {
    font-family: 'Traditional', 'Garamond', 'Georgia', serif;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include bp(lg) {
        font-size: 1.75rem;
    }
}

.h3 {
    font-family: 'Traditional', 'Garamond', 'Georgia', serif;
    font-size: 1.375rem;
    line-height: 2.25rem;
    line-height: 0.02em;
    text-transform: uppercase;

    @include bp(lg) {
        font-size: 1.125rem;
        line-height: 2rem;
    }
}

.navlink {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 2.25rem;
    font-weight: 500;
    color: $dark-color;
    transition: $transition;
    @include hover {
        color: $primary-accent-color;
        text-decoration: underline;
    }
    @include bp(md) {
        font-size: 2rem;
    }
}

.link {
    display: inline-block;
    color: $secondary-accent-color;
    text-decoration: underline;

    @include hover {
        text-decoration: none;
    }
}

body .descr:not(:first-of-type) {
    margin-top: 1rem;
}

.descr {
    text-indent: 1.5rem;
}

.text-subtitle {
    font-weight: 600;
    text-indent: 1.5rem;
}

.label {
    font-weight: 600;
}
