// * <UI CLASSES>==========================================

.page {
    margin-top: calc($header-height + 4rem);
    @include bp(md) {
        margin-top: calc($header-height-mobile + 4rem);
    }
}
main.page {
    margin-top: 0;
}

.section {
    &:not(:first-of-type) {
        margin-top: 4rem;
    }
    .h2 {
        text-align: center;
    }
    .inner {
        margin: 2.5rem auto 0;
    }
}

.h1 {
    font-family: 'Traditional', 'Garamond', 'Georgia', serif;
    font-size: 3.625rem;
    line-height: 5rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    @include bp(md) {
        font-size: 2.3rem;
        line-height: 3.25rem;
    }
}

.h2 {
    font-family: 'Traditional', 'Garamond', 'Georgia', serif;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include bp(md) {
        font-size: 1.75rem;
    }
}

.h3 {
    font-family: 'Traditional', 'Garamond', 'Georgia', serif;
    font-size: 1.375rem;
    line-height: 2.25rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @include bp(md) {
        font-size: 1.125rem;
        line-height: 2rem;
    }
}

.navlink {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 2.25rem;
    font-weight: 500;
    color: $dark-color;
    transition: $transition;
    @include hover {
        color: $primary-accent-color;
        text-decoration: underline;
    }
    @include bp(md) {
        font-size: 2rem;
    }
}

.aside-link {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.33rem;
    color: $dark-color;
    transition: $transition;
    cursor: pointer;
    @include hover {
        color: $secondary-accent-color;
        text-decoration: underline;
    }
}

.date-text {
    font-size: 1.125rem;
    font-weight: 600;
    color: $dark-gray-color;
}

.link {
    display: inline-block;
    color: $secondary-accent-color;
    text-decoration: underline;
    cursor: pointer;

    @include hover {
        text-decoration: none;
    }
}

.details {
    .summary {
        display: flex;
        align-items: center;
        /* Добавляем собственный маркер для закрытого состояния */
        &::after {
            content: "";
            display: inline-block;
            background: url('../img/icons/arrow-right.svg') center / cover no-repeat;
            height: 2rem;
            width: 2rem;
            margin-left: 7px;
            transform: rotate(90deg);
        }
    }
    /* Добавляем собственный маркер для открытого состояния */
    &[open] .summary::after {
        transform: rotate(270deg);
    }
}

.quote {
    font-family: 'Lyrica Deco', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.06em;
}

blockquote.quote {
    @include card-effect;
    padding: 0.5rem 0.75rem;
    border-left: 3px solid $inactive-blue;
}

body .descr:not(:first-of-type) {
    margin-top: 1rem;
}

.descr {
    text-indent: 1.5rem;
}

.text-subtitle {
    font-weight: 600;
    text-indent: 1.5rem;
}

.label {
    font-weight: 600;
}

// * UN- ORDERED LISTS

.ordered-list {
    counter-reset: myCounter;

    li {
        list-style: none;
        line-height: 1.6;

        &::before {
            counter-increment: myCounter;
            content: counter(myCounter);
            color: #9a0014;
            display: inline;
            font-weight: 600;
            margin: 0 0.66rem 0 0;
        }
    }
}

.unordered-list {
    li {
        line-height: 1.6;

        &::before {
            content: '';
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 999px;
            background-color: #9a0014;
            margin: 0px 0.5rem 0px 0.5rem;
        }
    }
}
