// * DEFAULT FONT
$font-family: "Arimo";
$font-size: 16px;

// * GRID (MY DEFAULT GRID)
$max-width: 1920px;
$grid-gap: 28px !default;
$grid-gap-side: calc($grid-gap / 2);

$container-max-widths: (
    xs: 344px,
    sm: 512px,
    md: 696px,
    lg: 936px,
    xl: 1072px,
    xxl: 1280px,
);

$grid-breakpoints: (
    xs: calc( map-get( $container-max-widths, xs ) + calc( $grid-gap * 6.5 ) ),   // * 539
    sm: calc( map-get( $container-max-widths, sm ) + calc( $grid-gap * 8 ) ),   // * 736
    md: calc( map-get( $container-max-widths, md ) + calc( $grid-gap * 10 ) ),   // * 976
    lg: calc( map-get( $container-max-widths, lg ) + calc( $grid-gap * 7 ) ),   // * 1132
    xl: calc( map-get( $container-max-widths, xl ) + calc( $grid-gap * 11 ) ),      // * 1380 
);

// * COLORS
$dark-color: #0F0505;
$dark-gray-color: #878282;
$light-gray-color: #ADA5A3;
$footer-gray-color: #F0EFEF;
$light-color: #FFF6F4;
$text-light-color: #FFFFFF;
$primary-accent-color: #9A0014;
$secondary-accent-color: #5765C6;
$success-green: #2F6200;

// * EFFECTS
$transition: .6s all;
$btn-inset-shadow: inset -2px 2px 5px 3px rgba(0, 0, 0, 0.25);
$card-inset-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
$input-inset-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
$input-shadow: 0px 0px 6px 1px rgba(154, 0, 20, 0.5);
$checkbox-shadow: 0px 0px 5px 0px rgba(154, 0, 20, 0.5);

// * OTHER
$header-height: 100px;
$header-height-mobile: 80px;