<div class="vacancy-card">
    <h4 class="h3">Перекладач</h4>
    <div class="vacancy-card__content">
        <p class="descr vacancy-card__subtitle">Вимоги до кандидата:</p>
        <ul class="unordered-list">
            <li class="vacancy-card__list-item">гарне знання розмовної японської;</li>
            <li class="vacancy-card__list-item">гарне знання писемної японської;</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;2</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;3</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;4</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;5</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;6</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;7</li>
            <li class="vacancy-card__list-item">досвід роботи від одного року;8</li>

            <span class="link loadmore">Показати більше...</span>
        </ul>     
    </div>
    <form action="#telegram">
        <button type="submit" class="btn btn--little">
            <span>Відгукнутися</span>
            <div class="btn__icons">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_244_569)">
                        <path d="M20.9246 11.9998H6.07538" stroke="white" stroke-width="1.5" stroke-miterlimit="5" />
                        <path d="M6.12868 11.9999L4.00736 20.4852L20.9779 11.9999L4.00736 3.51461L6.12868 11.9999Z" stroke="white" stroke-width="1.5" stroke-miterlimit="5" />
                    </g>
                </svg>
            </div>
        </button>
    </form>
</div>