<div class="vacancy-card">
    <h4 class="h3">@@title</h4>
    <div class="vacancy-card__content">
        <p class="descr vacancy-card__subtitle">Вимоги до кандидата:</p>
        <ul class="unordered-list vacancy-card__list">
            <li class="vacancy-card__list-item">@@item1</li>
            <li class="vacancy-card__list-item">@@item2</li>
            <li class="vacancy-card__list-item">@@item3</li>
            <li class="vacancy-card__list-item">@@item4</li>
            <li class="vacancy-card__list-item">@@item5</li>
            <li class="vacancy-card__list-item">@@item6</li>
            <li class="vacancy-card__list-item">@@item7</li>
            <li class="vacancy-card__list-item">@@item8</li>
            <li class="vacancy-card__list-item">@@item9</li>
            <li class="vacancy-card__list-item">@@item10</li>

            <button type="button" class="link loadmore">Показати більше &#9660;</button>
        </ul>     
    </div>
    <form action="#telegram">
        <button type="submit" class="btn btn--little">
            <span>Відгукнутися</span>
            <div class="btn__icons">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_244_569)">
                        <path d="M20.9246 11.9998H6.07538" stroke="white" stroke-width="1.5" stroke-miterlimit="5" />
                        <path d="M6.12868 11.9999L4.00736 20.4852L20.9779 11.9999L4.00736 3.51461L6.12868 11.9999Z" stroke="white" stroke-width="1.5" stroke-miterlimit="5" />
                    </g>
                </svg>
            </div>
        </button>
    </form>
</div>